*{
    margin: 0;
    padding: 0;
    outline: 1px solidd;
    font-family: "Pixelify Sans", sans-serif;
    
}
span{
     font-size: 15px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
    flex-direction: column;
    position: relative;
}


img{
    height: 5rem;
}


.icons_container{
    display:grid;
    grid-template-columns: repeat(3, 120px); 
    gap: 20px;
}


.icon_one,.icon_two,.icon_three,.icon_four,.icon_five,.icon_six{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.icon:hover{

background-color: rgb(154, 210, 243);
}
.icon:active{
    transform:scale(0.95);
}
.icon{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 5rem;
 width: 5rem;
 background-color: rgb(135, 206, 247);
 border-radius: 5px;
 border: none;
 border: 1px solid rgb(1, 106, 177);
}

#music_switch{
 background: none;
 border: none;
}

#music_switch > img {

}

.modal_one{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.6);

    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1; /* ⭐ IMPORTANT */
}

#music_switch:active{
    transform:scale(0.95);
    
}




@media (max-width: 600px) { 
  
 .icons_container{
    display:grid;
    grid-template-columns: repeat(2, 120px); 
    gap: 5px;


}
}


