@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
}

span {
    font-size: 15px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
    flex-direction: column;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
   
}

body.dark {
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
}


body.dark::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(rgb(255, 254, 182) 1px, transparent 1px);
    background-size: 40px 40px;
    opacity: 0.3;
    pointer-events: none;
}

img {
    height: 5rem;
}

.icons_container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 20px;
}

.icon_one, .icon_two, .icon_three, .icon_four, .icon_five, .icon_six {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.icon:hover {
    background-color: rgb(154, 210, 243);
}

.icon:active {
    transform: scale(0.95);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background-color: rgb(135, 206, 247);
    border-radius: 5px;
    border: 1px solid rgb(1, 106, 177);
}

#music_switch, #dark_switch {
    background: none;
    border: none;
    display: flex;
}

#dark_switch {
    margin-bottom: 8px;
}

.nav {
    background-color: rgba(73, 122, 255, 0.596);
    width: 10rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    height: 3rem;
    align-items: center;
    border: 1px solid black;
    gap: 3rem;
    padding: 6px;
    margin-bottom: 2rem;
}

#music_switch:active {
    transform: scale(0.95);
}

#dark_switch:active {
    transform: scale(0.95);
}

a {
    font-size: 0.6rem;
}

#close_modal, #close_modal2, #close_modal3,
#close_modal4, #close_modal5, #close_modal6 {
    position: absolute;
    top: 10px;
    left: 10px;
}


/* ===================== MODALS ===================== */

.modal_one, .modal_two, .modal_three,
.modal_four, .modal_five, .modal_six {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: black;
}

.modal_one.active, .modal_two.active, .modal_three.active,
.modal_four.active, .modal_five.active, .modal_six.active {
    opacity: 1;
    pointer-events: auto;
}

.one_container, .two_container, .three_container,
.four_container, .five_container, .six_container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 50%;
    border: 5px solid rgb(175, 100, 3);
    border-radius: 1rem;
    background-color: rgba(255, 220, 192, 0.979);
    position: relative;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.one_container > h1, .two_container > h1, .three_container > h1,
.four_container > h1, .five_container > h1, .six_container > h1 {
    font-size: 1rem;
    margin-top: 1rem;
}

.one_container > img, .two_container > img, .three_container > img,
.four_container > img, .five_container > img, .six_container > img {
    height: 70%;
    width: 60%;
}

.one_container > a {
    font-size: 0.6rem;
}


/* ===================== MEDIA QUERY ===================== */

@media (max-width: 600px) {

    .icons_container {
        display: grid;
        grid-template-columns: repeat(2, 120px);
        gap: 5px;
    }

    .nav {
        width: 10rem;
    }

    .one_container > a {
        font-size: 0.4rem;
    }

    .one_container > img {
        width: 90%;
    }
}

